@model IEnumerable<GameNight.Data.GameTime>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OwnerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPlayers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Openings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoobsAllowed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TutorialVideo)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPlayers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Openings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoobsAllowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutorialVideo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.GameTimeId }) |
                @Html.ActionLink("Details", "Details", new { id=item.GameTimeId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.GameTimeId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
