@model GameNight.Models.GameNightDetail

@{
    ViewBag.Title = "Details";
}

<h2>Game Night Details</h2>

<div>
    <h4>GameNightDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.GameTimeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameTimeId)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Game.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game.PlayerCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.PlayerCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoobsAllowed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoobsAllowed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TutorialVideo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TutorialVideo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
