@model GameNight.Models.GameDetail

@{
    ViewBag.Title = "Details";
}

<h2>Game Details</h2>

<div>
    <h4>GameDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GameId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GameId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
