@model IEnumerable<GameNight.Models.GameListItem>

@{
    ViewBag.Title = "Index";
}
<div class="container col-md-8 cover">

    <h2>Games</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    @*@if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">
            @ViewBag.SaveResult
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
        </div>
    }*@

    <div class="container col-md-12">
        <div class="row justify-content-md-center">
            <div class="col-12 col-lg-auto">

                <table class="table table-striped table-responsive-md btn-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Genre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PlayerCount)
                            </th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tbody>
                            <tr>
                                @Html.HiddenFor(modelItem => item.GameId)

                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Genre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PlayerCount)
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default">
                                        @Html.ActionLink("Details", "Details", new { id = item.GameId })
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
